[run]
branch = True
omit =
    src/main/app.py
    src/management/*
    src/migrations/*
relative_files = True
source = src


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
fail_under = ${COVERAGE_MIN-50}
skip_covered = False
skip_empty = True
sort = -Cover


[html]
skip_covered = False
skip_empty = True
title = Ex Libris
